<div class="about-container">
  <h2 class="section-title">Sobre mí</h2>
  <p>
  Estudiante de Ingeniería en Computer Science de segundo año, con un perfil proactivo, responsable y eficiente. Me caracterizo por mi carisma y excelentes habilidades interpersonales, lo que me permite adaptarme con facilidad a distintos entornos de trabajo y colaborar eficazmente en equipo. Cuento con experiencia en apoyo administrativo y organización de procesos, y  busco una oportunidad que me permita crecer profesional y personalmente, aportando mis habilidades organizativas, comunicativas y tecnológicas.
  </p>
</div>
