<div class="sidebar">

  <section>
    <h2>Contacto</h2>

    <div class="contact-item">
      <span>Email</span>
      <a href="mailto:jimestradaa@gmail.com">
        jimestradaa@gmail.com
      </a>
    </div>

    <div class="contact-item">
      <span>Tel</span>
      <a href="tel:+50230628209">
        +502 3062-8209
      </a>
    </div>

    <div class="contact-item">
      <span>GitHub</span>
      <a href="https://github.com/jimenaestradad" target="_blank">
        @jimenaestradad
      </a>
    </div>

    <div class="contact-item">
      <span>LinkedIn</span>
      <a href="https://www.linkedin.com/in/jimena-estrada-03a795377/" target="_blank">
        Jimena Estrada
      </a>
    </div>
  </section>

  <section>
    <h2>Idiomas</h2>
    <ul>
      <li>Español — Nativo</li>
      <li>Inglés — Nivel C1</li>
    </ul>
  </section>


  <section>
    <h2>Habilidades</h2>
    <ul>
      <li>Organización de eventos</li>
      <li>Atención al cliente</li>
      <li>Manejo de Microsoft Office</li>
      <li>Comunicación efectiva</li>
      <li>Adaptabilidad al cambio  </li>
    </ul>
  </section>

</div>
